.navbar {
	background-color: var(--grey-color);
	font-family: "Noto Sans", sans-serif;
	color: var(--red-color);
}

a,
a:visited,
a:hover,
a:active {
	color: inherit;
}

.navbar a {
	background: transparent;
}
.navbar a:hover {
	color: var(--red-color);
	filter: brightness(0.85);
}